body {
  background: $backgroundDarkGrey;
  font-weight: 400;
  color: $fontWhite;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#username {
  background: $backgroundLightGrey;
  border-radius: 5px;
  color: $fontWhite;
  padding: 3px;
  margin: 5px;
}
#password {
  background: $backgroundLightGrey;
  border-radius: 5px;
  color: $fontWhite;
  padding: 3px;
  margin: 5px;
}
.entryFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logInButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}
.logInButton {
  background: $backgroundLightGrey;
  border-radius: 5px;
  color: $fontWhite;
  margin: 5px;
}

.chatRoom {
  display: flex;
  flex-direction: column;
}
.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logOutButton {
  background: $backgroundLightGrey;
  border-radius: 5px;
  color: $fontWhite;
  margin: 5px;
  height: 25px;
}

.messageBox {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}

.message {
  background: $backgroundLightGrey;
  border-radius: 5px;
  margin: 7px;
  padding: 5px;
}

.msgHeader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.author {
  font-size: 18px;
  margin: 3px;
}
.date {
  font-size: 12px;
  margin: 3px;
  color: darken($fontWhite, 50%);
  padding: 1px;
}
.msg {
  font-size: 15px;
  margin: 3px;
}
.editingButtons {
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  background: $backgroundLightGrey;
  border-width: 0px;
  color: $fontWhite;
  margin: 5px;
  font-size: 10px;
}

.deleteButton:hover {
  color: red;
}

.editButton {
  background: $backgroundLightGrey;
  border-width: 0px;
  color: $fontWhite;
  margin: 5px;
  font-size: 10px;
}

.editButton:hover {
  color: blue;
}

.inputBox {
  background: $backgroundLightGrey;
  color: $fontWhite;
  border-radius: 5px;
  margin: 3px;
  padding: 2px;
}
.sendButton {
  background: $backgroundLightGrey;
  border-radius: 5px;
  color: $fontWhite;
  margin: 5px;
}
.loginFail {
  font-size: 12px;
  color: red;
}

.chatBot {
  display: flex;
  align-items: center;
}
