body{
  background-color: $mainGreen;
  font-family: sans-serif;
  color: $mainBlue;
  font-size: 20px;
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mainGreen; //$mainGreen;
  width: 100vw;
  height:130px;
  justify-content: space-between;
  align-items: flex-start;
}


button {
  margin: 15px;
  height: 40px;
  padding: 10px;
  background-color: $mainGreen;
  color: $mainBlue;
  border: 2px solid $mainBlue;
  border-radius: 5px;
}

button:hover {
  background-color: $mainBlue;
  color: $mainGreen;
  border: 2px solid $mainBlue;
}

#landing {
  margin-top: 130px;
}

#leftbuttons {
  margin-left: 30px;
}

#rightbuttons {
  margin-right: 30px;
}

#logo {
  height: 130px;
  align-self: center;
  justify-self: center;

}

.landing_content {
  height: 80vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.get_started {
  //padding: 30px;
  align-items: center;
  font-size: x-large;
  border-radius: 5px;
  height: 90px;
  padding:25px;

}
.product_Description {
  width: 50%;
  font-size: x-large;
  margin-right: 20px;
}
.intro_phrase {
  font-size: 1.3em;
}
.bold {
  font-weight: bold;
}

#main_gif {
  padding: 20px;
  max-height: 45vh;
  max-width: 70vw;
}

.jobmodal {
  font-size: .5em;
  color: $mainBlue;
  max-width: 17%;
  border: 2px solid $mainBlue;
  position: relative;
  padding: 5px;
  border-radius: 4px;
  min-width: 18em;
}

.jobmodal:hover {
  color: $mainGreen;
  background-color: $mainBlue;
}

.modallogo {
  max-height: 5em;
  position: absolute;
  right: 5px;
}

.bold {
  font-weight: bold;
}

.form__field {
  color: $mainBlue;
  background-color: $mainGreen;
  border: 1px solid $mainBlue;
  border-radius: 2px;
}

.form__field {
  background-color: $mainGreen;
  border: 1px solid $mainBlue;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $mainBlue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $mainBlue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $mainBlue;
}

input:focus {
  outline: none !important;
  border:1px solid $mainBlue;
  box-shadow: 0 0 10px #719ECE;
}

.jobdetails {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  color: $mainBlue;
  max-width: 80%;
  border: 2px solid $mainBlue;
  position: relative;
  padding: 15px;
  border-radius: 6px;
  min-width: 18em;
}